<!-- INCLUDE page.header.htm -->

<div class="company_title">{L_APPLICATION_WELCOME}</div>

<div class="company_sub">{L_APPLICATION_SCHOOL}</div>

<ul>
	<li>Dirección: Km. 22.5, Carretera Principal, Casas 6B, 7B, 8B, 9B, C4, Condominio Jardines de San Gabriel</li>
	<li>Teléfonos: 4301-0612, 5073-9461, 5098-1946</li>
	<li>Correo Electrónico:</li>
	<li>info@colegiosangabriel.edu.gt, educsangabriel@aol.com</li>
</ul>

<div class="pad_top">
	<div class="is_left_i">
		<div id="online">
			<!-- BEGIN hide -->
			<!-- INCLUDE community.online.htm -->
			<!-- END hide -->
		</div>
	</div>

	<div class="is_right_i">
		<!-- BEGIN hide -->
		<div class="ln l2">
		<div class="h"><h3>{L_MEET_TEAM}</h3></div>
		<ul>
			<!-- BEGIN founders -->
			<li class="a_mid">
				<ul>
					<!-- BEGIN hide -->
					<li><a href="{founders.PROFILE}">{founders.USERNAME}</a></li>
					<!-- END hide -->
					<li class="_">{founders.REALNAME}</li>
					<li><a href="{founders.PROFILE}"><img src="{founders.AVATAR}" alt="" /></a></li>
				</ul>
			</li>
			<!-- END founders -->
		</ul>
		</div>

		<span class="clear"></span>

		<!-- BEGIN team -->
		<div class="pad_top ln l6">
			<div class="h"><h3>{L_COMM_TEAM}</h3></div>
			<ul>
				<!-- BEGIN row -->
				<li class="a_mid">
					<ul>
						<li class="_"><a href="{row.PROFILE}">{row.USERNAME}</a></li>
						<!-- BEGIN hide -->
						<li class="_"><!-- IF row.REALNAME != '' -->{row.REALNAME}<!-- ELSE -->--<!-- ENDIF --></li>
						<!-- END hide -->
						<li><a href="{row.PROFILE}"><img src="{row.AVATAR}" alt="{row.USERNAME}" /></a></li>
					</ul>
				</li>
				<!-- END row -->
			</ul>
		</div>

		<span class="clear"></span>
		<!-- END team -->
		<!-- END hide -->
	</div>
</div>

<!-- BEGIN birthday -->
<span class="clear"></span>

<div class="pad_top ln l6">
	<div class="h"><h3>{L_TODAY_BIRTHS}</h3></div>
	<ul>
		<!-- BEGIN row -->
		<li class="a_mid pad_top">
			<ul>
				<li class="_"><a href="{row.PROFILE}">{row.USERNAME}</a></li>
				<li><a href="{row.PROFILE}"><img src="{row.AVATAR}" alt="{row.USERNAME}" /></a></li>
			</ul>
		</li>
		<!-- END row -->
	</ul>
</div>
<!-- END birthday -->

<!-- INCLUDE page.footer.htm -->