<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8" />
<title><!-- IF PAGE_TITLE != 'Inicio' -->{PAGE_TITLE} en <!-- ENDIF -->{L_APPLICATION}<!-- IF PAGE_TITLE == 'Inicio' -->, {L_APPLICATION_DESC}<!-- ENDIF --></title>
<!-- BEGIN header_css -->
<link rel="stylesheet" type="text/css" href="{header_css.PATH}" />
<!-- END header_css -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{S_ASSETS}j.js">\x3C/script>')</script>
<!-- BEGIN header_js -->
<script type="text/javascript" charset="utf-8" src="{header_js.PATH}"></script>
<!-- END header_js -->

<link rel="shortcut icon" href="{S_SERVER}/favicon.ico" />
<!-- IF PAGE_TITLE == 'Inicio' -->
<meta name="description" content="{S_DESCRIPTION}" />
<meta name="keywords" content="{S_KEYWORDS}" />
<!-- ENDIF -->