<div class="page">
	<div class="header">
		<div class="brand">
			<h1><a href="{U_HOME}" title="{L_APPLICATION}">{L_APPLICATION}</a></h1>
			<!-- <h2>{L_APPLICATION_DESC}</h2> -->
		</div>

		<!-- IF S_MEMBER -->
		<!-- BEGIN hide -->
		<div id="search">
			<form id="searchForm" method="post">
				<fieldset>
					<input id="s" type="text" title="{SEARCH_IN} {L_APPLICATION}">
					<input id="sb" type="submit" value=" &gt; " />
				</fieldset>
			</form>
		</div>
		<!-- END hide -->
		<!-- ELSE -->
		<form action="{U_SESSION}" method="get">
			<div class="a_right ctl"><input type="submit" value="{L_USER_IDENTITY}" /></div>
		</form>
		<!-- ENDIF -->

		<!-- BEGIN main_menu -->
		<!-- BEGIN row -->
		<!-- IF row.TITLE == 'Administrador' -->
		<form action="{row.HREF}" method="get">
			<div class="a_right ctl"><input type="submit" value="{row.TITLE}" /></div>
		</form>
		<!-- ENDIF -->
		<!-- END row -->
		<!-- END main_menu -->

		<!-- IF S_MEMBER -->
		<!-- BEGIN main_menu -->
		<div id="menu">
			<ul>
				<!-- BEGIN row -->
				<!-- IF row.TITLE != 'Administrador' -->
				<li><a href="{row.HREF}" title="{row.TITLE}">{row.TITLE}</a></li>
				<!-- ENDIF -->
				<!-- END row -->
				<li>
					<div class="collapse navbar-ex1-collapse" style="display: block;">
						<ul>
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Acciones</a>
								<ul class="dropdown-menu">
									<li><a href="<?php echo a('alumnos/index.php'); ?>" title="Inscripci&oacute;n de Nuevo Alumno">Inscripci&oacute;n</a></li>
									<li><a href="<?php echo a('reinscripcion/index.php'); ?>" title="Re-Inscripci&oacute;n de Alumno Existente">Re-inscripci&oacute;n</a></li>
									<li><a href="<?php echo a('notas/index.php'); ?>" title="Visualizaci&oacute;n de Notas">Notas</a></li>
									<li><a href="<?php echo a('historial/index.php'); ?>" title="Record Acad&eacute;mico del Alumno">Historial de alumno</a></li>
									<li><a href="<?php echo a('reportes/index.php'); ?>" title="Visualizaci&oacute;n de Reportes Varios">Reportes</a></li>
									<li><a href="<?php echo a('faltas/index.php'); ?>" title="Visualizaci&oacute;n de Faltas / Ingreso de Faltas Acad&eacute;micas">Faltas acad&eacute;micas</a></li>
									<li><a href="<?php echo a('codigo_alumno/index.php'); ?>" title="Ingreso de Codigo / Matricula del Alumno">Codigos de alumnos</a></li>
									<li><a href="<?php echo a('ocupacional/index.php'); ?>" title="Ingreso de Areas Ocupacionales para Alumnos">Cursos ocupacionales</a></li>

									<li><a href="<?php echo a('mantenimientos/alumnos/'); ?>">Modificaci&oacute;n de alumnos</a></li>
									<li><a href="<?php echo a('aux_search/index.php'); ?>">B&uacute;squeda de alumnos</a></li>
									<li><a href="<?php echo a('ingreso_index.php'); ?>" title="Ingreso de datos">Ingreso de datos</a></li>
									<li><a href="<?php echo a('editar/index.php'); ?>" title="Edicion de notas">Edicion de notas</a></li>
									<li><a href="<?php echo a('mantenimientos/index.php'); ?>" title="Mantenimientos">Mantenimientos</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<!-- END main_menu -->
		<!-- ENDIF -->

		<span class="clear"></span>
	</div>

	<hr />
	<div id="search_result"></div>

	<div class="pad_top ls">
		<!-- BEGIN error -->
		<ul>
			<li>{L_LOGIN_ERROR}</li>
		</ul>
		<!-- END error -->
	</div>

	<!-- IF CUSTOM_MESSAGE -->
	<div class="pad_top a_mid">{CUSTOM_MESSAGE}</div>
	<!-- ENDIF -->

	<div id="content">