<!-- INCLUDE page.header.htm -->

<!-- BEGIN search_student -->
<form class="form-horizontal" action="{U_ADM/SEARCH}" method="post">
{search_student.FORM}
{search_student.SUBMIT}
</form>
<!-- END search_student -->

<!-- BEGIN results -->
<br />
<table class="table table-striped">
	<thead>
		<tr>
			<td>Carn&eacute;</td>
			<td>Nombre</td>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN row -->
		<tr>
			<td><a href="{row.USERNAME_BASE}">{row.CARNE}</a></td>
			<td><a href="{row.USERNAME_BASE}">{row.NOMBRE_ALUMNO}</a></td>
		</tr>
		<!-- END row -->
	</tbody>
</table>
<!-- END results -->

<!-- BEGIN no_results -->
<div class="x2 a_mid alert alert-warning alert-dismissible fade in role="alert">{L_NO_STUDENT_RESULTS}</div>
<!-- END no_results -->

<!-- INCLUDE page.footer.htm -->