<!-- INCLUDE page.header.htm -->

<!-- BEGIN task_details -->
<div class="h"><h3>{L_TASK_DETAILS}</h1></div>

<div class="row schedule-item box-rounded padding-sides">
	<div class="col-xs-12 col-sm-6 col-md-6">
		<h3 class="no-margin">{task_details.ACTIVITY_NAME}</h3>

		<br />
		<h4 class="no-margin">{task_details.NOMBRE_CURSO}</h4>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 a_right">
		<h3 class="no-margin">{task_details.NOMBRE} {task_details.NOMBRE_SECCION}</h3>

		<br />
		<h4 class="no-margin">Catedr&aacute;tico: <a href="{task_details.USERNAME_BASE}">{task_details.USERNAME}</a></h4>
	</div>
</div>

<div class="row">
	<div class="col-lg-3">
		<br />
		<div class="list-group">
			<div class="list-group-item">
				<h4 class="list-group-item-heading">Alumno</h4>
				<p class="list-group-item-text">{task_details.ASSIGNED_USERNAME}</p>
			</div>
			<div class="list-group-item list-group-item-success">
				<h4 class="list-group-item-heading">Fecha de inicio</h4>
				<p class="list-group-item-text">{task_details.ACTIVITY_START}</p>
			</div>
			<div class="list-group-item list-group-item-danger">
				<h4 class="list-group-item-heading">Fecha de entrega</h4>
				<p class="list-group-item-text">{task_details.ACTIVITY_END}</p>
			</div>
		</div>

		<!-- BEGIN assignees -->
		<br />
		<div class="panel panel-default">
			<div class="panel-heading">Alumnos con esta tarea</div>

			<ul class="list-group">
				<!-- BEGIN row -->
				<li class="list-group-item {row.CLASS}">
					<span style="margin-left: 3px;" class="badge">{row.POST_TOTAL}</span>
					<a href="{row.URL}">{row.USERNAME}</a>
				</li>
				<!-- END row -->
			</ul>
		</div>
		<!-- END assignees -->
	</div>
	<div class="col-lg-9">
		<br />
		<div>{task_details.ACTIVITY_DESCRIPTION}</div>

		<!-- BEGIN post_comment_box -->
		<div class="x3">
			<div class="h"><h3>{L_TASK_REPLY}</h3></div>

			<form class="form-horizontal" action="{post_comment_box.URL}" method="post">
				<div class="form-group">
					<div class="col-lg-12">
						<textarea class="form-control" name="message" id="message" autocomplete="off"></textarea>
					</div>
				</div>

				<div class="text-center">
					<input type="submit" class="btn btn-danger" name="submit" value="{L_SUBMIT_MESSAGE}" />
				</div>
			</form>
		</div>
		<!-- END post_comment_box -->
		
		<!-- BEGIN posts -->
		<div class="comments x3">
			<a name="first"></a>
			<!-- BEGIN row -->
			<a name="{row.POST_ID}"></a>

			<div id="comment-{row.S_ROW_COUNT}">
				<h3><strong>{row.S_ROW_COUNT}</strong><span>.</span>
				<em><a href="{row.PROFILE}"><img src="{row.USER_AVATAR}" alt="{row.USERNAME}'s Avatar" /></a></em>
				<cite><a href="{row.PROFILE}">{row.USERNAME}</a></cite> <span>dijo:</span></h3>

				<blockquote>
					<div class="btn-group">
						<a class="btn btn-default disabled">{row.POST_TIME}</a>
					</div>

					<div class="x1 col_fr nowraptext">
						{row.POST_TEXT}
					</div>
				</blockquote>
				<hr />
			</div>
			<!-- END row -->
		</div>
		<!-- END posts -->
	</div>
</div>
<!-- END task_details -->

<!-- BEGIN student -->
<div class="h"><h3>{L_NOTIFICATIONS}</h1></div>

<div class="row">
	<!-- <div class="col-md-6"> -->
	<div class="col-md-12">
		<div class="h"><h3>{student.TITLE}</h3></div>

		<!-- BEGIN activities -->
		<table class="grid">
			<thead>
				<tr>
					<th class="a_mid" width="40%">Actividad</th>
					<th class="a_mid" width="30%">Curso</th>
					<th class="a_mid" width="30%">Entrega</th>
				</tr>
			</thead>
			<!-- BEGIN row -->
			<tr>
				<td><a href="{row.ACTIVITY_URL}">{row.ACTIVITY_NAME}</a></td>
				<td>{row.NOMBRE_CURSO}</td>
				<td class="a_mid">{row.ACTIVITY_END}</td>
			</tr>
			<!-- END row -->
		</table>
		<!-- END activities -->

		<!-- BEGIN no_activities -->
		<div class="a_mid x2">{L_NO_TASKS}</div>
		<!-- END no_activities -->

		<div class="h"><h3>Faltas acad&eacute;micas</h3></div>

		<!-- BEGIN faults -->
		<table class="x2 grid">
			<thead>
				<tr>
					<th class="a_mid" width="15%">Fecha</th>
					<th class="a_mid">Tipo</th>
					<th class="a_mid">Descripci&oacute;n</th>
					<th class="a_mid">Curso</th>
					<th class="a_mid">Catedr&aacute;tico</th>
				</tr>
			</thead>
			<!-- BEGIN row -->
			<tr>
				<td>{row.FECHA_FALTA}</td>
				<td>{row.TIPO_FALTA}</td>
				<td>{row.FALTA}</td>
				<td>{row.NOMBRE_CURSO}</td>
				<td>{row.NOMBRE_CATEDRATICO}</td>
			</tr>
			<!-- END row -->
		</table>
		<!-- END faults -->

		<!-- BEGIN no_faults -->
		<div class="a_mid x2">{L_NO_FAULTS}</div>
		<!-- END no_faults -->

		<div class="h"><h3>Inasistencia</h3></div>

		<!-- BEGIN attends -->
		<table class="x2 grid">
			<thead>
				<tr>
					<th class="a_mid" width="15%">Fecha</th>
					<th class="a_mid">Curso</th>
					<th class="a_mid">Catedr&aacute;tico</th>
				</tr>
			</thead>
			<!-- BEGIN row -->
			<tr>
				<td>{row.ATTEND_DATE}</td>
				<td>{row.NOMBRE_CURSO}</td>
				<td>{row.NOMBRE_CATEDRATICO}</td>
			</tr>
			<!-- END row -->
		</table>
		<!-- END attends -->

		<!-- BEGIN no_attends -->
		<div class="a_mid x2">{L_NO_ATTENDS}</div>
		<!-- END no_attends -->
	</div>
</div>
<!-- END student -->

<!-- BEGIN supervisor -->
<div class="h"><h3>{L_NOTIFICATIONS}</h1></div>

<div class="row">
	<!-- <div class="col-md-9"> -->
	<div class="col-md-12">

		<!-- BEGIN activities -->
		<div>
			<ul class="nav nav-tabs" role="tablist">
				<!-- BEGIN student -->
				<li role="presentation"<!-- IF ! student.S_ROW_COUNT --> class="active"<!-- ENDIF -->>
					<a href="#student_{student.USER_ID}" aria-controls="student_{student.USER_ID}" role="tab" data-toggle="tab">
						{student.USERNAME}
					</a>
				</li>
				<!-- END student -->
			</ul>

			<div class="tab-content">
				<!-- BEGIN student -->
				<div role="tabpanel" class="tab-pane <!-- IF ! student.S_ROW_COUNT -->active<!-- ENDIF -->" id="student_{student.USER_ID}">
					
					<!-- BEGIN tasks -->
					<div class="h"><h3>Tareas</h3></div>

					<table class="x2 grid">
						<thead>
							<tr>
								<th class="a_mid" width="40%">Actividad</th>
								<th class="a_mid" width="30%">Curso</th>
								<th class="a_mid" width="30%">Entrega</th>
							</tr>
						</thead>
						<!-- BEGIN row -->
						<tr>
							<td><a href="{row.ACTIVITY_URL}">{row.ACTIVITY_NAME}</a></td>
							<td>{row.NOMBRE_CURSO}</td>
							<td class="a_mid">{row.ACTIVITY_END}</td>
						</tr>
						<!-- END row -->
					</table>
					<!-- END tasks -->

					<!-- BEGIN no_tasks -->
					<div class="h"><h3>Tareas</h3></div>

					<div class="a_mid x2">{L_NO_TASKS}</div>
					<!-- END no_tasks -->

					<div class="h"><h3>Faltas acad&eacute;micas</h3></div>

					<!-- BEGIN faults -->
					<table class="x2 grid">
						<thead>
							<tr>
								<th class="a_mid" width="15%">Fecha</th>
								<th class="a_mid">Tipo</th>
								<th class="a_mid">Descripci&oacute;n</th>
								<th class="a_mid">Curso</th>
								<th class="a_mid">Catedr&aacute;tico</th>
							</tr>
						</thead>
						<!-- BEGIN row -->
						<tr>
							<td>{row.FECHA_FALTA}</td>
							<td>{row.TIPO_FALTA}</td>
							<td>{row.FALTA}</td>
							<td>{row.NOMBRE_CURSO}</td>
							<td>{row.NOMBRE_CATEDRATICO}</td>
						</tr>
						<!-- END row -->
					</table>
					<!-- END faults -->

					<!-- BEGIN no_faults -->
					<div class="a_mid x2">{L_NO_FAULTS}</div>
					<!-- END no_faults -->

					<div class="h"><h3>Inasistencia</h3></div>

					<!-- BEGIN attends -->
					<table class="x2 grid">
						<thead>
							<tr>
								<th class="a_mid" width="15%">Fecha</th>
								<th class="a_mid">Curso</th>
								<th class="a_mid">Catedr&aacute;tico</th>
							</tr>
						</thead>
						<!-- BEGIN row -->
						<tr>
							<td>{row.ATTEND_DATE}</td>
							<td>{row.NOMBRE_CURSO}</td>
							<td>{row.NOMBRE_CATEDRATICO}</td>
						</tr>
						<!-- END row -->
					</table>
					<!-- END attends -->

					<!-- BEGIN no_attends -->
					<div class="a_mid x2">{L_NO_ATTENDS}</div>
					<!-- END no_attends -->

				</div>
				<!-- END student -->
			</div>
		</div>
		<!-- END activities -->
	</div>
</div>
<!-- END supervisor -->

<!-- INCLUDE page.footer.htm -->