<!-- INCLUDE page.header.htm -->

<ul id="expand_account">
	<li><a id="account" href="{U_PROFILE}"></a></li>
	<li class="mb"><a href="{U_PROFILE}" title="{S_USERNAME}"><i class="icon-user"></i> {S_USERNAME}</a>
	<li><a href="{U_DC}">{L_USERPAGE_DC}</a></li>
	<li><a href="{U_EDITPROFILE}">{L_PREFERENCES}</a></li>
	<li><a href="{U_SESSION}">{L_LOGOUT2}</a></li>
</ul>

<div class="el_left"><img src="{AVATAR_IMG}" alt="{USERNAME}" /></div>

<div class="el_left pad_left">
	<div class="h wm_ls"><h3>{USERNAME}</h3></div>
	<div class="rows5_top">{POSTER_RANK}</div>

	<div class="pad_top ls ctl">
	<ul>
		<!-- BEGIN selected_panel -->
		<!-- BEGIN strong -->
		<li><strong>{selected_panel.LANG}</strong></li>
		<!-- END strong -->
		<!-- BEGIN a -->
		<li><a href="{a.URL}">{selected_panel.LANG}</a></li>
		<!-- END a -->
		<!-- END selected_panel -->
		<!-- BEGIN messages -->
		<li><a href="{PM}">{L_DCONV_START}</a></li>
		<!-- END messages -->
		<!-- BEGIN block_member -->
		<li><a href="{block_member.URL}">{block_member.LANG}</a></li>
		<!-- END block_member -->
		<!-- BEGIN friend -->
		<li><a href="{friend.U_FRIEND}">{friend.L_FRIENDS_ADD}</a></li>
		<!-- END friend -->
		<!-- IF WEBSITE -->
		<li><a href="{WEBSITE}">Sitio web</a></li>
		<!-- ENDIF -->
	</ul>
	</div>
</div>

<span class="clear"></span>

<!-- BEGIN main -->
<div class="pad_top">
	<div class="is_left_i">
		<!-- BEGIN general -->
		<div class="ls">
		<ul>
			<!-- BEGIN item -->
			<li><strong>{item.KEY}:</strong> {item.VALUE}</li>
			<!-- END item -->
		</ul>
		</div>
		<!-- END general -->
		
		<!-- BEGIN thumbnails -->
		<div class="<!-- IF !(thumbnails.S_ROW_COUNT) -->pad_top <!-- ENDIF -->ln">
			<div class="h"><h3>{thumbnails.L_TITLE}</h1></div>
			<ul>
				<!-- BEGIN row -->
				<li class="pad_top a_mid">
					<ul>
						<li><a href="{row.URL}">{row.NAME}</a></li>
						<li class="__">{row.GENRE}</li>
						<li class="pad_top"><a href="{row.URL}"><img src="{row.IMAGE}" alt="{row.NAME}" /></a></li>
					</ul>
				</li>
				<!-- END row -->
			</ul>
		</div>
		<!-- END thumbnails -->
		
		<!-- BEGIN lastboard -->
		<div class="pad_top ls">
		<div class="h"><h3>{L_BOARD_LATEST}</h3></div>	
		<ul>
			<!-- BEGIN row -->
			<li>
				<div><a<!-- IF row.TOPIC_COLOR --> style="color:#{row.TOPIC_COLOR};"<!-- ENDIF --> href="{row.URL}">{row.TITLE}</a></div>
				<div class="_">{row.DATE} a las {row.TIME}</div>
			</li>
			<!-- END row -->
		</ul>
		</div>
		<!-- END lastboard -->
	</div>
	
	<div class="is_right_i">
		<!-- BEGIN post_comment_box -->
		<div class="publish">
		<div class="h"><h3>{L_SEND_POST}</h3></div>
		<form action="{U_COMMENTS}" method="post" name="m-messages">
		<input type="hidden" name="ref" value="{post_comment_box.REF}" />
		<textarea id="a-comments" name="message"></textarea>
		<input class="submit" type="submit" name="submit" value="{L_SEND_MESSAGE}" />
		</form>
		</div>
		<!-- END post_comment_box -->
		
		<!-- BEGIN posts -->
		<div class="comments pad_top">
			<a name="first"></a>
			<!-- BEGIN item -->
			<a name="{item.POST_ID}"></a>

			<div id="comment-{item.S_ROW_COUNT}">
				<h3><strong>{item.S_ROW_COUNT}</strong><span>.</span> <em><a href="{item.PROFILE}"><img src="{item.USER_AVATAR}" alt="{item.USERNAME}'s Avatar" /></em><cite><a href="{item.PROFILE}">{item.USERNAME}</a></cite> <span>dijo:</span></h3>

				<blockquote>
					<div class="x1 col_fr nowraptext">
						{item.MESSAGE}
					</div>

					<!-- IF item.S_DELETE -->
					<p class="controls">
						<a href="{item.S_DELETE}">{L_DELETE}</a>
					</p>
					<!-- ENDIF -->

					<!-- BEGIN controls -->
					<p class="controls">
						<!-- BEGIN reply --><a href="{reply.URL}">{L_CMT_REPLY}</a><!-- END reply -->
						<!-- BEGIN report --><a href="{report.URL}">{L_CMT_REPORT}</a><!-- END report -->
						<!-- BEGIN edit --><a href="{edit.URL}">{L_CMT_EDIT}</a><!-- END edit -->
						<!-- BEGIN restore --><a href="{restore.URL}">{L_CMT_RESTORE}</a><!-- END restore -->
						<!-- BEGIN delete --><a class="ask_remove" href="{delete.URL}">{L_CMT_DELETE}</a><!-- END delete -->
					</p>
					<!-- END controls -->

					<p class="dtposted">{item.DATETIME}</p>
				</blockquote>
				<hr />
			</div>
			<!-- END item -->
		</div>
		<!-- END posts -->
	</div>
</div>
<!-- END main -->

<!-- BEGIN friends -->
<div class="pad_top ln l6">
	<ul>
		<!-- BEGIN row -->
		<li class="a_mid pad_top">
			<div><a href="{row.PROFILE}">{row.USERNAME}</a><br />{row.DATETIME}</div>
			<div class="pad_top"><a href="{row.PROFILE}"><img src="{row.AVATAR}" alt="{row.USERNAME}" /></a></div></li>
		<!-- END row -->
	</ul>
</div>
<!-- END friends -->

<!-- INCLUDE page.footer.htm -->