RewriteEngine On
RewriteRule ^js/(.*)\.js$ j?js=$1 [nc]
RewriteRule ^css/(.*)\.css$ c?css=$1 [nc]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^.*$ index.php [NC,L]